// Theme Color:
// $primary-theme-color: #be2835;
$primary-theme-color: #b3b3b3d0;
$secondary-theme-color: #DB5461;

// Potential text colors:
$text-color: rgb(0, 0, 0);
$hover-text-color: rgba(0, 0, 0, 0.5);
$light-text-color: #fff;
$light-hover-text-color: rgba(255, 255, 255, 0.8);

// Font Family: 
$font-family-standard: 'Open Sans', sans-serif;

// Background colors:
$primary-bg-color: #fff;
$secondary-bg-color: #30343F;
// $secondary-bg-color-translucent: rgba(48, 52, 63, 0.40);