// Theme Color:
$theme-color: #be2835;

// Potential text colors:
$text-color: rgb(0, 0, 0);
$hover-text-color: rgba(0, 0, 0, 0.5);

$light-text-color: #fff;
$light-hover-text-color: rgba(255, 255, 255, 0.8);

// Background colors:
$primary-bg-color: #fff;
$secondary-bg-color: #30343F;
