@import "./variables.scss";
@import "./resets.scss";

// Universal Selector:
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;

    font-family: $font-family-standard;
    font-weight: 100;
}

// No media query designed for SCREEN_SIZE < 768px by default.

// Navbar:

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100vw;

    background-color: $primary-theme-color;
    z-index: 1000;
    border-bottom: 1px black solid;
}

.navbar i {
    color: $primary-bg-color;
    margin: 12px 20px;

    transition: all 0s ease-in 0s;
    color: $light-text-color;
}

.navbar i:hover {
    transition: all 0s ease-in 0s;
    color: $light-hover-text-color;
}

.nav-links {
        display: none;
        position: absolute;

        width: 100vw;
        top: 76px;
    }

    .nav-links li {
        list-style-type: none;
        margin: 15px 5px;

        background-color: $primary-theme-color;
        height: 35px;
        margin: 0px;
    }

    .nav-link {
        color: $text-color;
        text-decoration: none;

        font-size: 1.5em;

        transition: all 0s linear 0s;
    }

    .nav-link:hover {
        color: $hover-text-color;
        transition: all 0s linear 0s;
    }

@media screen and (min-width: 768px) {

    .navbar .nav-icon {
        display: none;
    }

    .nav-links {
        display: flex;
        justify-content: flex-start; 
        position: static;

        margin: 20px;

        width: 100vw;
        // height: 30px;
    }

    .nav-links li {
        list-style-type: none;
        margin: 15px 5px;

        background-color: transparent;
        border: none;
        margin: 0px;
    }

    .nav-links a {
        color: $light-text-color;
        text-decoration: none;

        margin: 10px;
        font-size: 1.75rem;

        transition: all 0s linear 0s;
    }

    .nav-links a:hover {
        color: $light-hover-text-color;

        transition: all 0s linear 0s;
    }
}

// Navbar BAR TO CROSS
.nav-icon {
    margin: 1em;
    width: 40px;
}

.nav-icon .first, 
.nav-icon .last, 
.nav-icon .middle {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.animate1 {
    // First
    transform: translateY(12px) rotate(135deg);
}

.animate3 {
    // Middle
    transform: translateY(-12px) rotate(-135deg);
}

.animate2 {
    // Last
    transform: scale(0);
}

.main-header {
    // display: flex;
    text-transform: uppercase;
    position: relative;
}

// Header:

.header-left::after {
    background-color: $secondary-theme-color;
    content: '';
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 50rem;
    transform-origin: 100% 0;
    transform: skew(10deg);
    z-index: 1;
}

.header-right {
    width: 100%;
    height: 50rem;
    background: $secondary-theme-color url(../images/group-of-people-sitting-near-table-1181396.jpg) no-repeat left;
    background-size: cover;
    z-index: -1;
}

.header-left-contents {
    display: flex;
    flex-direction: row;

    // Position /w absolute relevance to the document.
    position: absolute;

    top: 8rem;
    left: 3rem;
    z-index: 3;

    color: $light-text-color;
}

.header-left-contents div {
    margin: 0px 5px;
    align-self: center;
    color: $light-text-color;
    font-weight: 100;
}

.header-left-contents a {
    text-decoration: none;
}

.header-left-contents .header-name {
    width: 5vw;
    font-size: 1.9rem;
    font-weight: 500;
}

.header-edge {
    color: $text-color;
}

.header-left-summary {
    display: block;
    margin: 2rem 0;

    position: absolute;
    left: 3rem;
    top: 24rem;

    z-index: 3;

    font-size: 2rem;
}

.header-left-summary p {
    color: $light-text-color;
    font-weight: 800;
    width: 50vw;
}

.span-digitalize {
    color: $text-color;
}

.header-button {
    position: absolute;

    left: 3.5rem;
    top: 40rem;

    z-index: 3;
}

.header-button button {
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 30px;
    text-transform: uppercase;

    color: black;
    border: 5px black solid;
    border-radius: 40px;
    cursor: pointer;
    position: relative;

    transition: all 0.5s ease-in 0s;
    background: white;
    transform: translateY(0px);
}

.header-button button:hover {
    transition: all 0.5s ease-in 0s;

    color: $light-text-color;
    background: black;
    transform: translateY(-10px);
}

@keyframes fill-jump-animation {
    0% { background: linear-gradient(white white)   }
    50% {  background: linear-gradient(white black)  }
    100% {  background: linear-gradient(black black)  }
}

.summary-container {
    display: flex;
    flex-direction: column;
    color: $light-text-color;
    background-color: $secondary-bg-color;
    padding: 2rem 0;
    align-items: center;
}

.summary-item {
    display: flex;
    margin: 2rem 0;
    flex: 1 1 34%;

    transition: all 0.5s ease-in 0s;
    color: $light-text-color;
}

.summary-item:hover {
    transition: all 0.5s ease-in 0s;
    color: $primary-theme-color;
}

.summary-item p {
    margin: 0px 0.8rem;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .summary-container {
        flex-direction: row;
        justify-content: space-around;
    }
    .summary-item {
        flex: 0 0 15%;
    }
}

// Carousel Section:

.plan-body {
    background-color: $primary-bg-color; 
    position: relative;
    margin: 4rem 0;
    min-height: 350px;
}

.plan-title {

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}

.plan-body hr {
    background-color: #30343F;
    width: 5%;
    height: 3px;
    margin: 1.5rem auto;
    // border: 3px solid black;
}

// Carousel: General Formatting
.fa-chevron-left.carousel-button,
.fa-chevron-right.carousel-button {
    color: $text-color;
    position: relative;
    z-index: 1;

    top: 90px;
    cursor: pointer;

    transition: all 0s 0s;

    z-index: 20;
}

.fa-chevron-left.carousel-button:hover,
.fa-chevron-right.carousel-button:hover {
    transition: all 0s 0s;
    color: $hover-text-color;
}

.fa-chevron-left.carousel-button {
    right: 41.5%;
}

.fa-chevron-right.carousel-button {
    left: 41.5%;
}

.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.carousel-item {
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, .2);
    position: absolute;
    width: 80%;
    margin: 0 0 5rem 0;
}

.carousel-item div {
    text-align: center;
    padding: 0.5rem;
}

.carousel-item .plan-name {
    background-color: $secondary-bg-color;
    color: $light-text-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
}

.plan-name.pro {
    background-color: $secondary-theme-color;
}

.plan-element {
    border: 1px solid rgba(0, 0, 0, .1);
}

.item-footer button {
    color: $secondary-theme-color;
    border: 2px solid $secondary-theme-color;
    background: $primary-bg-color;
    border-radius: 10px;

    padding: 0.4rem 3rem;
    margin: 1rem 0;
    cursor: pointer;

    transition: all 0.5s ease-in 0s;
}

.item-footer button:hover {
    transition: all 0.5s ease-in 0s;
    color: $primary-bg-color;
    background: $secondary-theme-color;
}

// Hide Class:
.hide {
    display: none;
}

// Carousel: Animation

.slide-appear-left-mob {
    animation: slide-appear-left-mob 2s 0s;
    animation-fill-mode: forwards;
    z-index: 10;
}
@keyframes slide-appear-left-mob {
    from {
        transform: translate(100px);
        opacity: 0;
    }
    to {
        transform: translate(0px);
        opacity: 1;
    }
}

.slide-appear-right-mob {
    animation: slide-appear-right-mob 2s 0s;
    animation-fill-mode: forwards;
    z-index: 10;
}
@keyframes slide-appear-right-mob {
    from {
        transform: translate(-100px);
        opacity: 0;
    }
    to {
        transform: translate(0px);
        opacity: 1;
    }
}

.slide-disappear-right-mob {
    animation: slide-disappear-right-mob 1s 0s;
    animation-fill-mode: forwards;
}

@keyframes slide-disappear-right-mob {
    from {
        transform: translate(0px);
        opacity: 1;
    }
    to {
        transform: translate(100px);
        opacity: 0;
    }
}
.slide-disappear-left-mob {
    animation: slide-disappear-left-mob 1s 0s;
    animation-fill-mode: forwards;
}

@keyframes slide-disappear-left-mob {
    from {
        transform: translate(0px);
        opacity: 1;
    }
    to {
        transform: translate(-100px);
        opacity: 0;
    }
}

// Footer

.main-footer {
    color: $primary-theme-color;
    background-color: $secondary-bg-color;

    text-align: center;
}

.main-footer h1 {
    padding: 1.2rem 0;
}

.footer-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icon-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: $light-text-color;
}

.footer-flex-item {
    width: 70%;
    margin: 2rem;
}

.footer-icon-header i {
    color: $secondary-theme-color;
}

.footer-icon-header h2 {
    margin: 0.8rem;

    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
}

.learn-more-link a {
    color: $secondary-theme-color;
    text-decoration: none;
}

.learn-more-link i {
    margin: 0 0.3rem;
}

@media screen and (min-width: 992px) {
    .footer-flex-container {
        flex-direction: row;
    }
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    margin: 0.4rem auto;

    color: $light-text-color;
}

.main-footer h1 {
    color: $light-text-color;
}

.main-footer hr {
    width: 90%;
    border: 2px $primary-theme-color solid;
    margin: 0 auto;
}

.footer-phone {
    display: flex;
    flex-direction: row;
}
.footer-phone i {
    margin: 0 0.8rem;
}

.fab {
    color: $light-text-color;
}

.footer-other-contacts i {
    transition: margin-left 0.5s;
    margin-left: 0px;
}

.footer-other-contacts i:hover {
    transition: margin-left 0.5s;
    margin-left: 5px;
}

.copyright p {
    padding: 10px 0px;
}