@import "./variables.scss";
@import "./resets.scss";

// Universal Selector:
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;

    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

// No media query designed for SCREEN_SIZE < 768px by default.

// Navbar:

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100vw;

    background-color: $primary-theme-color;
    z-index: 1000;
}

.navbar i {
    color: $primary-bg-color;
    margin: 12px 20px;
}

.nav-links {
        display: none;
        position: absolute;

        // background-color: rgba(128, 128, 128, 0.2);
        // border: 2px solid;

        width: 100vw;
        top: 72px;
    }

    .nav-links li {
        list-style-type: none;
        margin: 15px 5px;

        background-color: $primary-bg-color;
        margin: 0px;
    }

    .nav-link {
        color: $text-color;
        text-decoration: none;

        font-size: 1.5em;

        transition: all 0s linear 0s;
    }

    .nav-link:hover {
        color: $hover-text-color;
        transition: all 0s linear 0s;
    }

@media screen and (min-width: 768px) {
//     .navbar .fa-bars {
//     display: none;
// }

    .navbar .nav-icon {
        display: none;
    }

    .nav-links {
        display: flex;
        justify-content: flex-start; 
        position: static;

        margin: 20px;

        width: 100vw;
    }

    .nav-links li {
        list-style-type: none;
        margin: 15px 5px;

        background-color: transparent;
        border: none;
        margin: 0px;
    }

    .nav-links a {
        color: $light-text-color;
        text-decoration: none;

        margin: 10px;
        font-size: 1.75rem;

        transition: all 0s linear 0s;
    }

    .nav-links a:hover {
        color: $light-hover-text-color;

        transition: all 0s linear 0s;
    }
}

// Navbar BAR TO CROSS
.nav-icon {
    margin: 1em;
    width: 40px;
}

.nav-icon .first, 
.nav-icon .last, 
.nav-icon .middle {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.animate1 {
    // First
    transform: translateY(12px) rotate(135deg);
}

.animate3 {
    // Middle
    transform: translateY(-12px) rotate(-135deg);
}

.animate2 {
    // Last
    transform: scale(0);
}

.main-header {
    // display: flex;
}

.header-left {
    background-color: $secondary-theme-color;
    content: '';
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 50rem;
    // transform-origin: 100% 0;
    transform: skew(10deg);
    z-index: 0;
}

.header-right {
    width: 100%;
    height: 50rem;
    background: $secondary-theme-color url(../images/group-of-people-sitting-near-table-1181396.jpg) no-repeat left;
    background-size: cover;
    z-index: -1;
}

.header-left-contents {
    position: absolute;
    z-index: 1;
}